.post_item{
    border: 1px solid #dddd;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;


}
/*.posts_wrapper{*/
/*    display: flex;*/
/*    flex-flow: column-reverse nowrap;*/
/*    */

/*}*/